* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid: ;
}

header {
    background-color: navy;
    clear: both;
    height: 80px;
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
}

h1 {
    float: left;
    padding: 20px 30px;
    margin-left: 40px;
}

h1:hover {
    cursor: pointer;
}

nav {
    float: right;
    padding: 30px 30px;
}

li {
    list-style: none;
    display: inline-block;
    font-weight: 600;
    margin-right: 40px;
    transition: 0.3s;
}

li:hover {
    cursor: pointer;
}

main {
    height: 80vh;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(./financing.jpg);
    background-size: cover;
    z-index: 0;
    
}

#records {
    clear: both;
    padding: 10px;
    width: fit-content;
    margin: 100px auto;
    border: 1px solid blue;
    height: 55vh;
    overflow: auto;
    background-color: white;

}

.record {
    padding: 20px;
    background-color: blue;
    margin: 20px;
    width: 600px;
    position: relative;
}

.record span {
    display: block;
    color: white;
}

.income::before {
    content: '$';
}

.expense::before {
    content: '-$';
}

.income , .expense {
    font-weight: 800;
    font-size: 18px;
    margin: 10px 0;
}

.record button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px;
    border: 1px solid white;
    background-color: blue;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.record button:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
}

.record button:first-of-type {
    right: 90px;
}

footer {
    width: 100%;
    background-color: blue;
    padding: 40px;
    color: white;
    grid-row-start: 3;
    grid-row-end: 4;
}

footer p {
    margin: 0 auto;
    width: fit-content;
}
